@font-face {
  font-family: Supercell;
  src: url(/Supercell-magic-webfont.ttf);
}
* {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Supercell, Arial, Helvetica, sans-serif;
  color: #555555;
}
.current-deck-card-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.card-icon {
  width: 50px;
  margin: 10px 0px 0px 0px;
}
.current-deck-card-container {
  width: 160px;
}
.current-deck-container {
  margin: 20px auto;
  border-radius: 3px;
  width: 60%;
  padding: 10px 0px;
  font-size: 10px;
}
.header-container {
  padding: 20px 0px;
  font-size: 26px;
}
.player-searchbar {
  height: 30px;
  text-align: left;
  padding: 0px 10px;
}
button {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 200px;
}
input {
  border: 2px solid #444444;
  border-radius: 5px;
}
.name-and-clan-container,
.clan-container {
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  width: 100%;
}
.about-link {
  cursor: pointer;
  margin: 20px 0px;
}
.return-to-top {
  margin: 30px;
}
.about-paragraph {
  width: 50%;
  margin-top: 50px;
  line-height: 30px;
}
.gold {
  background: linear-gradient(#b4624b, #ffba58);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.member-list-container {
}
.member {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  margin: 10px 0px;
}
.clan-name,
.member-selector {
  cursor: pointer;
  margin: 0 auto;
}
.chart {
  width: 50%;
  margin: 40px auto;
}
.loading-gif {
  width: 40px;
}
.king-pic {
  width: 800px;
}

@media all and (max-width: 480px) {
  .chart {
    width: 90%;
  }
  button {
    border: 2px solid;
    border-radius: 5px;
    background: white;
  }
  .about-paragraph {
    width: 95%;
    line-height: 30px;
  }
  .king-pic {
    width: 300px;
  }
  .current-deck-container {
    width: 100%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.fade {
  animation: fade 1s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
